<!DOCTYPE html>
<html>

<head>
    <title>Calculadora</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body onkeypress="manipularTeclado()">
    <div class ="botoes"><table>
        <tr>
            <td colspan="8"><input type="text" id="display" disabled></td>
        </tr>
        <tr>
            <td><input type="button" value="**" onclick="atualizarDisplay('**')" /></td>
            <td><input type="button" value="√" onclick="raizQuadrada(this)" /></td>
            <td><input type="button" value="/" onclick="atualizarDisplay('/')" /></td>
            <td><input type="button" value="(" onclick="atualizarDisplay('(')" /></td>
            <td><input type="button" value=")" onclick="atualizarDisplay(')')" /></td>
        </tr>
        <tr>
            <td><input type="button" value="7" onclick="atualizarDisplay('7')" /></td>
            <td><input type="button" value="8" onclick="atualizarDisplay('8')" /></td>
            <td><input type="button" value="9" onclick="atualizarDisplay('9')" /></td>
            <td><input type="button" value="*" onclick="atualizarDisplay('*')" /></td>
        </tr></div>
        <tr>
            <td><input type="button" value="4" onclick="atualizarDisplay('4')" /></td>
            <td><input type="button" value="5" onclick="atualizarDisplay('5')" /></td>
            <td><input type="button" value="6" onclick="atualizarDisplay('6')" /></td>
            <td><input type="button" value="-" onclick="atualizarDisplay('-')" /></td>
        </tr>
        <tr>
            <td><input type="button" value="1" onclick="atualizarDisplay('1')" /></td>
            <td><input type="button" value="2" onclick="atualizarDisplay('2')" /></td>
            <td><input type="button" value="3" onclick="atualizarDisplay('3')" /></td>
            <td><input type="button" value="+" onclick="atualizarDisplay('+')" /></td>
        </tr>
        <tr>
            <td><input type="button" value="C" onclick="limparDisplay()" /></td>
            <td><input type="button" value="0" onclick="atualizarDisplay('0')" /></td>
            <td><input type="button" value="=" onclick="calcularOperacao()" /></td>
            <td><input type="button" value="." onclick="atualizarDisplay('.')" /></td>
        </tr>
    </table></div>

    <script src="js/calc_functions.js"></script>

</body>

</html>
